<%- include("header"); %>
<div style= "width:1200px; height:auto;
min-height:500px; border:1px solid red;">
<table align = "center">
       <% for(let d of catList)  {
	   %>
	   <tr>
	   <td><%=d.catname%></td>
	   <td>
	   <a href="editcategory?catid=<%=d._id%>">Edit</a>
	   <a href="delcategory?catid=<%=d._id%>">Delete</a>
	   </td>
	   </tr>
	   <% }  %>
</div>
<%- include("footer"); %>