<%- include("header");%>
<div style ="border:2px red dotted; height:500px; width:1000px;">
    <h1 class = "bg-primary text-dark">Item List</h1>
    <table align="center" class="table"









    <tr>
        <td><%=x.iname%></td>
        <td><%=x.price%></td>
        <td><%x.dom.getDate()%>-<%=x.dom.getMonth()%>-<%=dom.getFullYear()%></td>
        <td><%=x.doe%></td>
        <td>Edit | Delete </td>
    </tr>
    <% } %>
 </div>
<%-include("footer");%>k